@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap');

* {
    font-family: 'Montserrat', arial, sans-serif;
}

body {

    top: 0;
    left: 0
    padding: 0;
    margin: 0;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;

}


header {

    position: fixed;
    z-index: 2;
    float: right;
    width: 100%;
    cursor: default;
    color: #fcfffc;
    margin-top: 2%;
    text-align: center;
    font-size: 18px;

}


/* slider styles */
/* slider is the container of all the slides */
/*  */

.slider {

    width: 500%;
    height: 100%;
    transition: transform 1s;

}

/* animation classes */

.go0 {
    transform: translateX(0);
}

.go1 {
    transform: translateX(-20%);
}

.go2 {
    transform: translateX(-40%);
}

.go3 {
    transform: translateX(-60%);
}

.go4 {
    transform: translateX(-80%);
}

/* end of slider styles */





/* navbar styles */
/*  */

nav {

    position: fixed;
    z-index: 1;
    background: #1c1c1cac;
    width: 20%;
    height: 80%;
    box-sizing: border-box;
    top: 10%;
    text-align: center;
    overflow: auto;

}



nav a {

    display: inline-block;
    position: relative;
    text-align: left;
    width: 70%;
    min-width: 160px;
    height: 12%;
    margin-top: 12%;
    text-decoration: none;
    padding: 8% 0;


}

nav .active {

    /* styles when page loaded only.. */
    /* then thw switch happens from "something" to "active:focus" */

    background-color: #fcfffc;
    color: #1c1c1c;

}

nav .active:focus {

    /* style of link when active */

    background-color: #fcfffc;
    color: #1c1c1c;
    transition: background-color 1.5s, color 1s;

}

nav a p {

    display: inline-block;
    width: 100%;
    font-size: 150%;
    position: absolute;
    top: 0;

}

nav a p i {

    margin-right: 16%;
    margin-left: 4%;

}

/* animations */
/*  */

.something {

    /* style of all links when inactive */

    transform: perspective(1px) translateZ(0);
    color: white;
    background-color: #fcfffc00;
    transition: color .5s ease .1s, background-color 1.5s;

}
.something:hover {

    color: #1c1c1c;
    transition: color .5s ease .6s;

}

.something::before {

    content: "";
    background: #fcfffc;
    position: absolute;
    top: 98%;
    right: 100%;
    color: #1c1c1c;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: top .5s ease, right .5s ease .5s;

}

.something:hover::before  {

    right: 0;
    top: 0;
    color: #1c1c1c;
    transition: right .5s ease, top .5s ease .5s;

}

/*  */
/* end of navbar styles */




/* styles for the slides */
/* slides styles stides slyles */
/* styling da pages in other words :) */
/*  */

.slider > div {

    height: 100%;
    width: 20%;
    float: left;

}

.slider .slide1 {

    background-image: url('../images/profile-bg.jpg');
    background-size: cover;
    background-position: center;

}

.slider .slide2 {

    background-image: url('../images/about-bg.jpg');
    background-size: cover;
    background-position: center;

}

.slider .slide3 {

    background-image: url('../images/skills-bg.jpg');
    background-size: cover;
    background-position: center;

}
.slider .slide4 {

    background-image: url('../images/gallery-bg.jpg');
    background-size: cover;
    background-position: center;

}

.slider .slide5 {

    background-image: url('../images/contact-bg.jpg');
    background-size: cover;
    background-position: center;

}




/* styles for content on slides */
/*  */
/*  */

.content {

    width: 70%;
    height: 80%;
    position: relative;
    background: #1c1c1cac;
    float: right;
    top: 10%;
    bottom: 10%;
    overflow: auto;

}

/*  */
/*  */
/* end of styles for content */




/* styles for content on the first slide */
/*  */
/*  */

.slide1 .content-one {

    width: 90%;
    height: 50%;
    margin: 0 auto;
    position: relative;
    top: 25%;

}

.slide1 .content-one img {

    width: 20%;
    box-sizing: border-box;
    float left;
    padding: 0;
    margin-left: 7%;
    border-radius: 20px;
    position: absolute;
    top: 18%;

}

.slide1 .content-one .text {

    position: absolute;
    top: 0;
    right: 9%;
    padding: 0 1%;
    width: 60%;
    color: white;
    line-height: 2em;

}

.slide1 .content-one .text h1 {

    border-bottom: 3px solid white;
    color: #fcfffc;
    width: 68%;
    font-size: 50px;
    padding-bottom: 5%;
    margin-bottom: 7%;

}

.slide1 .content-one .text p {

    padding-bottom: 4%;
    color: #fcfffc;
    font-size: 18px;

}

.slide1 .content-one .text p  u {

    font-size: 20px;
    color: #fcfffc;

}

.content-one button {

    width: 25%;
    background-color: rgba(0, 0, 0, 0);
    color: #fcfffc;
    font-size: 120%;
    border-width: 1%;
    min-width: 150px;
    border-style: solid;
    border-color: white;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

}

.content-one button:hover {

    background-color: #fcfffc;
    color: #1c1c1c;

}

/*  */
/* end of slide1 content styles */



/* content on second slide */
/*  */
/*  */

/* text area */

.content-two-text {

    width: 60%;
    height: 100%;
    color: white;
    padding: 2% 5%;
    box-sizing: border-box;
    float: left;

}

.content-two-text h2 {

    border-bottom: 3px solid white;
    width: 40%;
    padding-bottom: 3%;
    font-size: 40px;
    margin-bottom: 10%;

}

.content-two-text p {

    padding-bottom: 10%;
    font-size: 18px;
    color: #fcfffc;

}

/* button inside text area */

.content-two-text button {

    width: 30%;
    background-color: rgba(0, 0, 0, 0);
    color: #fcfffc;
    font-size: 120%;
    min-width: 150px;
    border-width: 1%;
    border-style: solid;
    border-color: white;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

}

.content-two-text button:hover {

    background-color: #fcfffc;
    color: #1c1c1c;

}

/* image area */

.slide2 .content img {

    width: 40%;
    height: 130%;
    float: right;
    box-sizing: border-box;

}

/* content on third slide */
/*  */
/*  */

.slide3 .content {

    padding: 2.5% 0;

}

.slide3 .content div {

    width: 30%;
    height: 100%;
    float: left;
    perspective: 1000px;
    margin-left: 2.5%;

}

.slide3 .content div .card-content {

    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;

}

.slide3 .content div .card-front, .slide3 .content div .card-back {

    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #fcfffce9;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    margin: 0;
    overflow: hidden;

}

.slide3 .content div .card-back {

    transform: rotateY(-180deg);
    overflow: auto;

}

.slide3 .content div:hover .card-front {

    transform: rotateY(180deg);

}

.slide3 .content div:hover .card-back {

    transform: rotateY(0deg);

}

.slide3 .card-front img {

    width: 100%;
    height: 100%;

}

.slide3 .card-back img {

    width: 100%;

}

.slide3 .card-back p {

    margin: 0;
    padding: 5%;
    text-align: left;
    font-size: 18px;
    line-height: 2em;

}

.slide3 .content .first-mobile-skill, .slide3 .content .second-mobile-skill,
.slide3 .content .third-mobile-skill {

    display: none;

}

/*  */
/* end of content on third slide */


/* content on fourth slide */
/*  */
/*  */

.slide4 .content {

    overflow: auto;

}

.slide4 .content .image {

    cursor: pointer;
    width: 30%;
    height: 35%;
    margin: 1% 0 1% 2%;
    box-sizing: border-box;
    float: left;
    position: relative;

}

.slide4 .content .image img {

    position: absolute;
    width: 100%;
    height: 100%;

}

/* hidden content */

.slide4 .content .image .hidden-content {

    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #1c1c1cd9;
    opacity: 0;
    color: #fcfffc;
    transition: .5s ease;

}

.slide4 .content .image:hover .hidden-content {

    opacity: 1;

}

/* modal styles */
/*  */
/*  */

.modal {

    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #1c1c1ce9;
    width: 100%;
    height: 100%;
    display: none;

}

.modal-container {

    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 5% auto auto auto;
    width: 70%;
    height: 70%;
    overflow: hidden;

}

.modal-container img {

    display:none;
    width: 100%;

}

.modal-container .active {

    display: block;
    transition: .5s ease;

}

.modal p {

    position: absolute;
    bottom: 10%;
    color: white;
    width: 100%;
    text-align: center;

}


/* modal button styles */

.modal #close-button {

    cursor: pointer;
    font-size: 300%;
    color: #fcfffc;
    font-weight: bolder;
    top: 1%;
    right: 2%;
    box-sizing: border-box;
    padding: 0;
    margin: 0 2%;
    float: right;

}

.modal #prev-button {

    cursor: pointer;
    font-size: 60px;
    font-weight: bold;
    background: red;
    position: absolute;
    top: 0;
    margin: 20% 5%;
    padding: 2% 2%;
    border-radius: 20px;
    background-color: #1c1c1c;
    color: #fcfffc;
    opacity: .3;
    transition: .5s linear;

}

.modal #next-button {

    cursor: pointer;
    right: 2%;
    font-size: 60px;
    font-weight: bold;
    background: red;
    position: absolute;
    top: 0;
    margin: 20% 5%;
    padding: 2% 2%;
    border-radius: 20px;
    background-color: #1c1c1c;
    color: #fcfffc;
    opacity: .3;
    transition: .5s linear;

}


#prev-button:hover {

    opacity: 1;
    background-color: #1c1c1cd9;

}

#next-button:hover {

    opacity: 1;
    background-color: #1c1c1cd9;

}

/* modal caption styles */

.modal .modal-container .caption-text {

    color: #fcfffc;
    font-size: 120%;
    text-align: center;
    padding: 1% 0;
    margin: 0;

}

/*  */
/*  */
/* end of modal styles */





/* fifth slide content */
/*  */
/*  */

.map {

    width: 50%;
    height: 100%;
    padding: 3%;
    position: absolute;
    float: left;

}

.contact-form {

    width: 50%;
    float: right;
    padding: 3%;

}

.slide5 .contact-form h2 {

    border-bottom: 3px solid white;
    color: white;
    width: 60%;
    padding-bottom: 3%;
    min-width: 200px;
    font-size: 40px;
    margin-bottom: 10%;

}

.contact-form input, .contact-form textarea {

    background: #fcfffc25;
    color: white;
    border: 0px;
    padding: 2% 2%;
    margin: 4% 0;
    display: block;
    width: 100%;
    height: 20%;

}

.contact-form input:focus, .contact-form textarea:focus {

    box-shadow: 0px 0px 8px #acffd3a0;

}

.slide5 .contact-form button {

    width: 100%;
    padding: 2% 2%;
    font-size: 120%;
    margin-top: 5%;
    background-color: #1c1c1c00;
    color: #fcfffc;
    border-width: 1%;
    border-style: solid;
    border-color: white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

}

.slide5 .contact-form button:hover {

    background-color: #fcfffce9;
    color: #1c1c1c;

}

/*  */
/*  */
/* end of fifth slide styles */

/* custom scrollbar */
/*  */

::-webkit-scrollbar {

    width: 5px;

}

::-webkit-scrollbar-thumb {

    background-color: #fcfffc;
    border-radius: 5px;

}

::-webkit-scrollbar-track {

    background-color: #1c1c1c;
    border-radius: 5px;

}

/*  */
/* end of custom scrollbar */

/* footer styles */
/*  */

footer {

    text-align: center;
    position: absolute;
    bottom: 2%;;
    width: 100%;
    color: #fcfffc;

}

footer p {


    margin: 0 auto;
    width: 60%;
    font-size: 12px;

}

/*  */
/* end of footer styles */


/* responsive */

@media screen and (max-width: 1024px) {

    nav a {
        min-width: 120px;
    }
    nav a p {

        font-size: 100%;

    }
    .slide1 .content-one {
        top: 0;
        height: 100%;
        width: 100%;
    }
    .slide1 .content-one img {
        width: 50%;
        max-width: 250px;
        top: 0;
        margin: 5% 25%;
        position: relative;
        border-radius: 25px;
    }
    .slide1 .content-one .text {
        color: #fcfffc;
        width: 100%;
        right: 0;
        padding: 0;
        margin: 0 auto;
        position: relative;
        text-align: center;
    }
    .slide1 .content-one .text h1 {

        border-bottom: 2px solid #fcfffc;
        width: 60%;
        min-width: 300px;
        font-size: 40px;
        padding-bottom: 15px;
        margin: 10px auto;

    }
    .slide1 .content-one .text p {
        font-size: 18px;
        width: 100%;
        padding: 0 25px;
    }
    .content-two-text {
        float: none;
        height: auto;
        width: 100%;
        text-align: center;
    }
    .content-two-text h2 {
        width: 80%;
        margin: 0 auto;
        font-size: 36px;
    }
    .content-two-text p {
        font-size: 18px;
    }
    .slide2 .content img {
        width: 100%;
    }
    .slide3 .content .first-skill-card, .slide3 .content .second-skill-card,
    .slide3 .content .third-skill-card {
        display: none;
    }
    .slide3 .content .first-mobile-skill, .slide3 .content .second-mobile-skill,
    .slide3 .content .third-mobile-skill {

        display: block;
        width: 100%;
        height: 30%;
        margin: 10px 10px;
        overflow: auto;

    }
    .slide3 .content .first-mobile-skill img, .slide3 .content .second-mobile-skill img,
    .slide3 .content .third-mobile-skill img {

        height: 100%;
        float: left;
        margin-right: 20px;

    }
    .slide3 .content .first-mobile-skill p, .slide3 .content .second-mobile-skill p,
    .slide3 .content .third-mobile-skill p {

        width: 100%;
        padding: 0 30px;
        font-size: 14px;
        margin: 0;
        height: 100%;
        line-height: 1.8em;
        color: #fcfffc;

    }
    .slide4 .content .image {
        width: 47%;
        height: 30%;
    }
    .modal-container {
        width: 80%;
        height: 40%;
        top: 15%;
        left: 5%;
    }
    .modal p {
        padding: 0 50px;
    }
    .modal #prev-button, .modal #next-button {
        font-size: 40px;
    }
    .slide5 .contact-form h1 {

        font-size: 24px;

    }


}

@media screen and (max-width: 420px) {

    nav {
        width: 24%;
    }
    nav a {

        width: 80%;
        min-width: 40px;
        text-align: center;
        margin-top: 30px;

    }
    nav a p {

        width: auto;
        margin: 0 auto;
        height: 100%;
        line-height: 60px;
        position: relative;
        text-align: center;
        font-size: 2em;

    }
    nav a p span {

        display: none;

    }
    .content {
        width: 74%;
    }
    .slide1 .content-one .text h1 {

        width: 60%;
        min-width: 220px;
        font-size: 28px;


    }
    .slide1 .content-one .text p {
        font-size: 14px;
    }
    .slide1 .content-one .text p u {
        font-size: 14px;
    }
    .slide1 .content-one button {
        font-size: 14px;
    }
    .content-two-text h2 {
        min-width: 80px;
        font-size: 28px;
    }
    .content-two-text p {
        font-size: 14px;
    }
    .slide4 .content .image {
        width: 97%;
        height: 35%;
    }
    .modal-container {
        width: 80%;
        height: 25%;
        background: red;
        top: 15%;
        left: 5%;
    }
    .modal p {
        padding: 0 50px;
    }
    .modal #prev-button, .modal #next-button {
        font-size: 20px;
    }
    .slide5 .contact-form {
        width: 100%;
    }
    .slide5 .map {
        width: 100%;
        top: 80%;
    }

}

/* end of responsive */
/* Thank you */
